.profile {
  display: block;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 10px;
  width: 300px;

  background-color: #f5f5dc;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
}

.avatar {
  display: inline-block;
  align-items: center;

  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.stats {
  border-left: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 0;
  padding-bottom: 10px;

  background-color: rgb(250, 233, 168);
  /* outline: 1px solid tomato; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.label {
  display: block;
  padding-bottom: 5px;
  padding-top: 10px;
}

.quantity {
  font-weight: 700;
  margin-bottom: 10px;
}

.statsList {
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;

  width: 70px;

  /* outline: 1px solid teal; */
  /* margin-bottom: 10px; */
}